*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */
.headerprin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin: 20px;
    background: #FADCD9;
    border-radius: 20px;
}

.links {
    display: flex;
    gap: 20px;
}

.headerprin a {
    text-decoration: none;
    color: black;
}

.headerprin a:hover{
    color: rgb(0, 110, 255);
}



/* -------- ------------*/

.todoelcontenidoo{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    margin: 0px 20px 20px;
}

.articulo1{
    display: flex;
    background-color: #FADCD9;
    grid-column: 1 / span 5;
    gap: 20px;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 30px 30px 70px;
}

.articulo1 img{
    width: 119px;
    height: 119px;
}

.articulo1 h1{
    align-self: self-start;
    font-size: 60px;
}


.imageninde{
    grid-column: 6 / span 3;
}

.imageninde img{
    width: 100%;
    height: 100%;
    border-radius: 20px ;
}

.articulo2{
    background-color: #FADCD9;
    grid-column: 1 / span 4;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px 40px;
    
}

.articulo2 img{
    width: 38px;
    height: 38px;
}

.articulo2 p{
    font-size: 25px;
}

.articulo3{
    background-color: #F8AFA6;
    grid-column: 5 / span 4;
    height: 351px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 30px 40px;
}

.headerar3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articulo3 p{
    font-size: 20px;
}

.articulo3 h2{
    font-size: 90px;
}

main{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 15px;
}

.articulo4{
    background-color: #FADCD9;
    border-radius: 20px;
    grid-row: 1 / 7;

}

footer{
    background-color: #FADCD9;
    border-radius: 20px;
    grid-row: 7;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    text-decoration: none;
    color: black;
}

footer nav{
    display: flex;
    gap: 10rem;
}

footer a:hover{
    color: blue
}

.columna_derecha{
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    gap: 20px;
}

.imagennube{
    display: flex;
    margin: 0 25px 50px 25px;
    justify-content: center;
}

.imagennube img{
    border-radius: 16px;
    width: 100%;
}

.articulo4 section{
    display: flex;
    flex-direction: column;
    margin: 0 25px 0 25px;
    gap: 30px;
}

.headerar4{
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
    padding: 20px 20px 0;
}

hr{
    border-color: #F8AFA6;
}

